/* style.css */

h1 {
  color: black;
  text-align: center;
  font-family: arial;
}

.banner {
    background-color: lightblue;
    color: black;
    font-family: arial;
    /*padding: 15px;*/
    text-align: left;
}

.banner img {
/*  width: 100px;  Set the desired width */
  height: 50px; /* Maintain aspect ratio */
  margin-right: 20px;
}

.custom-search-button {
  background-color: #4F81BD; /* Change this to the desired background color */
}

.navbar .dropdown-menu {
  right: 0 !important; /* Set the dropdown menu to be left-justified */
  background-color: gray; /* Set the background color */
  border: none; /* Remove the border */
  box-shadow: 5px 10px;  /* Remove the box shadow */
}

.navbar .dropdown-item {
  /* set properties for the drop down item */
  color: #000; /* Set the text color */
}

.navbar .dropdown-item:hover {
  /* Styles for hover effect on navbar links */
  color: #33FF40;
}

.navbar .dropdown-item:focus {
  content: '';
  position: absolute;
  background-color: #4F81BD; /* Set the background color on hover/focus */
  color: #33FF40; /* Set the text color on hover/focus */
}

.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 10px;
}

.navbar-nav .nav-link::after {
 /* setting for what happens after the navbar in hamburger mode */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  /*min-width: 200px;*/
  height: 3px;
  background-color: #4F81BD;
}

/* Add more CSS rules as needed */
