<div fxLayout="column" class="detail-wrap">
    <h2>
        <div fxFlex fxLayoutAlign="center center" style="padding-top: 20px;">
            {{ details_title }}
        </div>
    </h2>
    <h4>
        <div fxFlex fxLayoutAlign="center center" style="padding-top: 20px;">
            {{ details_subtitle }}
        </div>
    </h4>
    <br />
    <mat-accordion class="card-full" expanded>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header class="card-header">
                <mat-panel-title>
                    Hetero Structure
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-body flex">
                <div class="card-details">
                    <div class="keyvaluebox">
                        <div *ngFor="let field of dataSource">
                            <ng-container [ngSwitch]="field.name">
                                <ng-container *ngSwitchCase="'Max Mismatch'">
                                    <!-- respective information being fetched from detailssample.components.ts -->
                                    <div fxLayout="row" class="each-row">
                                        <div class="each-row-left" fxFlex="50">
                                            {{ field.name }}
                                        </div>
                                        <div fxFlex="50" [innerHTML]="
                        displayData(
                          getNestedKey(this.data_heterostructure, field.key)
                        ) *
                          100 +
                        ' ' +
                        field.unit
                      "></div>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <div fxLayout="row" class="each-row">
                                        <div class="each-row-left" fxFlex="50">
                                            {{ field.name }}
                                        </div>
                                        <div fxFlex="50" [innerHTML]="
                        displayFieldWithUnits(this.data_heterostructure, field)
                      "></div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="card-model">
                    <div #canvasH class="viz-section">
                        <canvas id="canvasH" class="full-canvas"></canvas>

                        <div class="flex flex-end btn-cvr-dnwload">
                            <div class="download-btn pointer">
                                <a #download3>Download CIF File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div #newd>
        <canvas></canvas>
    </div>

    <mat-accordion class="card-full" expanded>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header class="card-header">
                <mat-panel-title>
                    2D Material Information
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="card-body flex">
                <div class="card-details">
                    <div class="keyvaluebox">
                        <div *ngFor="let field of dataSource_second">
                            <div fxLayout="row" class="each-row">
                                <!-- respective information being fetched from detailssample.components.ts -->
                                <div class="each-row-left" fxFlex="50">{{ field.name }}</div>
                                <div fxFlex="50" [innerHTML]="displayFieldWithUnits(this.data_2D, field)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-model">
                    <div #canvas2D class="viz-section">
                        <canvas id="canvas2D" class="full-canvas"></canvas>
                        <!-- <canvas id="canvasH" class="full-canvas"></canvas> -->

                        <div class="flex flex-end btn-cvr-dnwload">
                            <div class="download-btn pointer">
                                <a #download1>Download CIF File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="card-full" expanded>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header class="card-header">
                <mat-panel-title>
                    Substrate Slab
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-body flex">
                <div class="card-details">
                    <div class="keyvaluebox">
                        <div *ngFor="let field of dataSource_third">
                            <div fxLayout="row" class="each-row">
                                <!-- respective information being fetched from detailssample.components.ts -->
                                <div class="each-row-left" fxFlex="50">{{ field.name }}</div>
                                <div fxFlex="50">
                                    {{ displayData(getNestedKey(this.data_substrate, field.key)) + " " + field.unit }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-model">
                    <div #canvasSubstrate class="viz-section">
                        <canvas id="canvasSubstrate" class="full-canvas"></canvas>
                        <div class="flex flex-end btn-cvr-dnwload">
                            <div class="download-btn pointer">
                                <a #download2>Download CIF File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>