table {
    width: 70%;
  }

.details-section{
  padding : 1%;
  margin : 1%;
  border : 1px solid black;
  border-radius: 5px;
  min-height: 300px;
}

.viz-section {
 
  min-height: 300px;
  
}

.full-canvas {
  width: 100%;
  height: 100%;
}

.detail-wrap{
  padding: 0 10%;
}

.card-full{
  margin-bottom: 2rem;
  .card-header{
    font-size: 1.5rem;

    background-color: #eee;
    &:hover{
    background-color: #eee;
    

    }
  }
  .card-body{
    .card-details{
      width:50%;
      padding:0 40px 0 0;
      .each-row{
        padding:0.75rem 0;
        border-bottom: 1px solid #d2d2d2;
        .each-row-left{
          text-align: right;
          margin-right: 2rem;
          font-weight: bold;
          &::after{
            content: '    :';
          }
        }
       
      }
     
    }
    .card-model{
      width:50%
    }

  }

}

.download-btn{
  background: #353535;
  padding: 1rem;
  &:hover{
    background-color: #000;

    a{
      color:#FDC627;
    }
  }
  a{
    color:#fff;
    border: none;
  }
}

@media only screen and (max-width: 420px) {  
  .card-full{ 
    .card-body{
      flex-direction: column;
      .card-details{
        width:100%;
      }
      .card-model{
        width: 100%;
      }
    }
    .btn-cvr-dnwload{
      justify-content: center;
    }
  } 
}