<!DOCTYPE html>
<!--suppress BuyFluidPluginNoteInspection -->
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS: formatting template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--  set the webpage tab icon -->
    <link rel="icon" href="static/cmr.ico" type="image/x-icon">

    <!-- load the dynamic nav bar js files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--  custom bootstrap css overrides  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
<!-- set the webpage's tab title -->
<title> {{ tabtitle }} </title>

<!-- webpage banner or header -->
<header class="banner">
  <!-- webpage static hyperlinks to the main CMR webpage -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- link to database image icon -->
    <div class="image-container">
      <img src="../static/c2db.png" alt="Database Image Icon">
    </div>

    <!-- webpage header title -->
    <h1> {{ webpage_header }} </h1>

    <!-- toggle hamburger banner navbar -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--  header static hyperlinks  -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" role="list">
        <li style="padding-left:10px; padding-right:10px;" class="nav-item">
          <a class="nav-link" href="https://cmr.fysik.dtu.dk/index.html">CMR</a>
        </li>

        <li style="padding-left:10px; padding-right:10px;" class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>

        <li style="padding-left:10px; padding-right:10px;" class="nav-item">
          <a class="nav-link" href="https://cmr.fysik.dtu.dk/c2db/c2db.html"> More information</a>
        </li>

        <li style="padding-left:10px; padding-right:10px;" class="nav-item">
          <a class="nav-link" href="/">Back to search</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<form id='mysearch' class="w-100">
    <div class="row">
        <!-- empty box shadow fill text -->
        <div class="col w-75">
          <input id="field1" name="field1" type="text" class="form-control" placeholder="Element to Search For">
        </div>

        <!-- Search box button -->
        <div class="col">
          <button type="submit"
                  class="btn btn-primary custom-search-button">Search
          </button>
        </div>
    </div>
</form>

Hello, welcome to the Flask development master html template!

<!-- example.component.html -->
<app-periodictable></app-periodictable>
</body>

</html>