<div class="container-fluid">
    <div class="container">
        <div class="description">
            <div class="jumpToTable">
              <h3>BRIEF DESCRIPTION</h3>
              <a href="/data#tableP">Jump to Dataset</a>
            </div>
            <div class="desc_hetero">
                <div class="hetero-overview">
                    <p class="overview-body brf-desc">
                        The 2DMSD is the first high-throughput van der Waals corrected density-functional theory computed database of the properties of 2D materials absorbed on substrate surfaces.
                    </p>
                    <p class="overview-body">
                        The goal of this work is to identify substrate surfaces that can stabilize 2D materials, thus, guiding and accelerating the pace of experimental synthesis, functionalization, and application of theoretically predicted as-yet-hypothetical 2D materials.
                        Astonishingly, of the more than 1500 theoretically predicted 2D materials, less than 5 % have been synthesized experimentally.
                    </p>
                    <p class="overview-body">
                        The 2DMSD contains structural and thermodynamic (formation, binding, and adsorption energy) properties of a growing number of two-dimensional materials on low-index, cubic-structured metallic substrates. All simulations were performed using VASP and an automated atomate based workflow. To know more about the computational framework, please refer to the references below.
                    </p>
                </div>
                <div class="desc-img">
                    <img src="assets/images/substrates.jpg" />
                </div>
            </div>
        </div>

        <div class="param-reference">
            <div class="meth-param">
                <h3>Overview of Parameters</h3>
                <p class="overview-body">
                    The table below lists the various parameters employed for the simulations.
                </p>

                <table class="meth-param-table">
                    <thead>
                        <th>Workflow step(s)</th>
                        <th>Parameters</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="left-col">Bulk Structure Relaxation</td>
                            <td>
                                Kpoint density = 20 kp/Å; <br/>Fermi smearing = 0.05 eV;
                                <br />Energy cutoff = 520 eV;<br/>xc functional = PBE; <br />vdW correction =
                                <a target="_blank" href="https://www.vasp.at/wiki/index.php/VdW-DF_functional_of_Langreth_and_Lundqvist_et_al.">optb88</a>, Maximum force = 0.02 eV/ Å;<br />Energy convergence = 10-4 eV
                            </td>
                        </tr>
                        <tr>
                            <td class="left-col">Surface Structure Relaxation</td>
                            <td>Vacuum spacing = 18 Å; all other parameters same as above</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="references">
                <h3>Reference and Citations</h3>

                <p class="overview-body">
                    If you use this dataset, please cite the following references
                </p>
                <ol>
                    <li>
                        <p>
                            Singh, Arunima K., et al. "High throughput screening of substrates
                            for synthesis and functionalization of 2D materials."
                            Low-Dimensional Materials and Devices. Vol. 9553. International
                            Society for Optics and Photonics, 2015.
                        </p>
                    </li>

                    <li>
                        <p>
                            Singh, Arunima K., Houlong L. Zhuang, and Richard G. Hennig. "Ab
                            initio synthesis of single-layer III-V materials." Physical Review B
                            89.24 (2014): 245431.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="datapage"></ng-container>
</div>

<ng-template #datapage>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-screen></app-loading-screen>
    </div>
    <div id="tableP" style="margin-top: 2%" fxLayout="column" *ngIf="!isLoading">
        <div class="flex flex-center" (click)="this.selectElement('')">
            <div fxLayout="column">
                <div fxLayout="row">
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row1_left, validObj: validElements }
            ">
                    </ng-container>
                    <div fxFlex></div>
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row1_right, validObj: validElements }
            ">
                    </ng-container>
                </div>

                <div fxLayout="row">
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row2_left, validObj: validElements }
            ">
                    </ng-container>
                    <div fxFlex class="flex flex-center flex-col periodic-frm">
                        <div class="flex flex-center radios-cvr">

                            <p-radioButton class="radio-periodic" name="group1" [(ngModel)]="ptColumnSelected" (onClick)="radioChanged($event)" value="0" label="Select 2D Material" inputId="opt1">
                            </p-radioButton>
                            <p-radioButton name="group1" [(ngModel)]="ptColumnSelected" (onClick)="radioChanged($event)" value="1" label="Select Substrate" inputId="opt2"></p-radioButton>

                        </div>
                    </div>
                    <ng-container #row2Right *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row2_right, validObj: validElements }
            ">
                    </ng-container>
                </div>

                <div fxLayout="row">
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row3_left, validObj: validElements }
            ">
                    </ng-container>
                    <div fxFlex>
                        <div class="flex flex-center relative input-cvr">
                            <input type="text" (keyup.enter)="search()" class="search-bar-periodic" placeholder="(Zn-) (Mn-)" [(ngModel)]="searchBarText" />
                            <a class="search-icon pointer absolute" (click)="search()">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="clear-icon pointer absolute" (click)="clearSelection()">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row3_right, validObj: validElements }
            ">
                    </ng-container>
                </div>

                <div fxLayout="row">
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row4, validObj: validElements }
            ">
                    </ng-container>
                </div>

                <div fxLayout="row">
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row5, validObj: validElements }
            ">
                    </ng-container>
                </div>

                <div fxLayout="row">
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row6, validObj: validElements }
            ">
                    </ng-container>
                </div>

                <div fxLayout="row">
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: row7, validObj: validElements }
            ">
                    </ng-container>
                </div>

                <div style="min-height: 10px"></div>

                <div fxLayout="row">
                    <div fxFlex></div>
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: lanthanides, validObj: validElements }
            ">
                    </ng-container>
                    <div fxFlex></div>
                </div>

                <div fxLayout="row">
                    <div fxFlex></div>
                    <ng-container *ngTemplateOutlet="
              elementTemplate;
              context: { $implicit: actinides, validObj: validElements }
            ">
                    </ng-container>
                    <div fxFlex></div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <button class="subbuttn" style="margin-left: 50px;" (click)="showAllMaterial()">Show all Materials</button>
                <button class="subbuttn" style="margin-left: 20px;" (click)="downloadAllMaterial()">Download all Materials</button>
            </div>
        </div>

        <div class="table-cover hide">
            <div>
                <p-table [value]="filteredData" [paginator]="true" [rows]="50" [rowsPerPageOptions]="[50,70,100]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="table-head" *ngFor="let col of cols1" [pSortableColumn]="col.field">
                                <ng-container [ngSwitch]="col.header">
                                    <ng-container *ngSwitchCase="'Surface Plane'">
                                        <div class="table-headr" fxLayout="column" fxLayoutAlign="center center">
                                            <div>Surface Plane</div>
                                            <div class="multi-select">
                                                <p-multiSelect styleClass="multi-select" class="multi-select" (click)="$event.stopPropagation()" (onChange)="onSurfacePlaneChange($event)" [options]="surfacePlanes" [(ngModel)]="selectedSurfacePlanes" [filter]="false">
                                                </p-multiSelect>
                                            </div>
                                            <a class="sort-icon">
                                                <i class="fa fa-sort"></i>
                                            </a>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'2D Material'">
                                        <div class="table-headr" fxLayout="column" fxLayoutAlign="center center">

                                            <div [innerHTML]="col.header"></div>
                                            <a class="sort-icon">
                                                <i class="fa fa-sort"></i>
                                            </a>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'Substrate'">
                                        <div class="table-headr" fxLayout="column" fxLayoutAlign="center center">
                                            <div [innerHTML]="col.header"></div>
                                            <a class="sort-icon">
                                                <i class="fa fa-sort"></i>
                                            </a>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchDefault>
                                        <div class="table-headr" fxLayout="column" fxLayoutAlign="center center">
                                            <div [innerHTML]="col.header"></div>
                                            <a class="sort-icon">
                                                <i class="fa fa-sort"></i>
                                            </a>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr class="each-row pointer">
                            <td (click)="openDetails(item['task_label'])" *ngFor="let col of cols1">
                                <p *ngIf="col.header == 'Lattice Mismatch (%)'">
                                    {{ displayNumber(item[col.field]) * 100 }}
                                </p>
                                <p *ngIf="col.header != 'Lattice Mismatch (%)'">
                                    {{ displayNumber(item[col.field]) }}
                                </p>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div #searchOverlay *ngIf="!selectedElement" fxLayout="row" #searchOverlay fxFlex style="
        position: fixed;
        top: 50%;
        left: 50%;
        font-size: 100px;
        transform: translate(-50%, -50%);
      " fxLayoutAlign="center center">
            {{ getKeys() }}
        </div>
    </div>
</ng-template>

<ng-template #elementTemplate let-item>
    <div *ngFor="let ele of item">
        <div [ngClass]="{
        select: !(
          selectedElementsMap[ptColumnSelected][ele.symbol] &&
          selectedElements[ptColumnSelected].length === 0
        ),
        opac:
          !selectedElementsMap[ptColumnSelected][ele.symbol] &&
          selectedElements[ptColumnSelected].length
      }">
            <app-element [elementData]="ele" [elementName]="ele.name" [elementSymbol]="ele.symbol" [elementNumber]="ele.number" (clickEmitter)="selectElement(ele)"></app-element>
        </div>
    </div>
</ng-template>
