.opac {
    opacity: 0.2 !important;
}

.noOpac {
    opacity: 1.0 !important;
}

.fBlock {
    background-color: #9bff99;
    margin: 2px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.sBlock {
    background-color: #ff9999;
    margin: 2px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.dBlock {
    background-color: #fdff8c;
    margin: 2px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.pBlock {
    background-color: #99ccff;
    margin: 2px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.arrowup {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.clickable {
    cursor: pointer;
}

.search-bar-periodic {
    width: 70%;
    height: 38px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid;
}

.search-icon {
    font-size: 1.3rem;
    right: 47px;
    top: 5px;
    &:hover {
        transform: scale(1.15);
        opacity: 0.9;
        transition: 0.3s all;
    }
}

.clear-icon {
    font-size: 1.9rem;
    top: -4px;
    right: 88px;
    &:hover {
        transform: scale(1.15);
        opacity: 0.9;
        transition: 0.3s all;
    }
}

.table-head {
    color: black !important;
}

.sort-icon {
    position: absolute;
    right: 0;
    top: 0
}

.table-headr {
    position: relative;
    .multi-select {
        .ui-state-highlight {
            color: black !important;
            span {
                font-weight: bold !important;
            }
        }
    }
}

.table-head {
    border: 1px solid #aaa !important;
    background: #ccc !important;
}

.each-row {
    &:nth-child(odd) {
        background: #fff !important;
    }
    &:nth-child(even) {
        background: #ddd !important;
    }
    td {
        border: 1px solid #bbb !important;
    }
}

.table-head {
    vertical-align: top !important;
    padding-top: 10px !important;
}

.table-cover {
    padding-top: 1rem;
    margin-top: 1rem;
    padding: 1rem 10%;
}

.radio-periodic {
    margin-right: 2rem;
}

.submit-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.subbuttn {
    background-color: #8C1D40;
    color: white;
    padding: 14px 30px;
    border: 1px solid #8C1D40;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
}

button.subbuttn:hover {
    color: white;
    cursor: pointer;
    margin: 10px;
    background-color: rgba(140, 29, 64, 0.84);
}

@media only screen and (max-width: 420px) {
    .radios-cvr {
        font-size: 10px;
    }
    .search-bar-periodic {
        height: 15px;
        &::placeholder {
            font-size: 7px;
        }
    }
    .search-icon {
        font-size: 10px;
        right: 23px;
        top: 5px;
    }
    .clear-icon {
        font-size: 15px;
        top: 0;
        right: 42px;
    }
    .table-head {
        font-size: 6px;
    }
    .each-row {
        font-size: 6px;
    }
}

.description{
    .jumpToTable{
      display: flex;
      flex-direction: row;
      width: 36%;
      justify-content: space-between;
      align-items: center;
    }
    margin-top: 30px;
    .desc_hetero{
        display: flex;
        flex-direction: row;
    }

    .hetero-overview{
        width: 60%
    }

    .desc-img {
        width: 40%;
        img{
            width: 90%;
            height: 90%;
        }
    }
}

.param-reference{
    display: flex;
    flex-direction: row;

    .meth-param{
        width: 50%;
        .meth-param-table {
            width: 90%;
            thead {
                border: 1px solid #aaa;
                background: #ccc;
                vertical-align: top;
                padding-top: 10px;
                th {
                    padding: 1rem;
                    border-right: 1px solid rgb(170, 170, 170);
                }
            }
            tr {
                td {
                    border: 1px solid #bbb;
                    padding: 5px;
                }
            }
            border-collapse: collapse;
            .left-col {
                width: 15rem;
            }
        }
    }
    .references{
        width: 55%;
    }
}
