/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: table-cell;
    display: flex;
}

.inline {
    display: inline;
}

.inline-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-around {
    justify-content: space-around;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-align-end {
    align-items: flex-end;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

a {
    border-bottom: none !important;
}