<!-- structure of single block in the periodic table -->
<div [class.enable]="elementData.valid" class="boxed" [ngClass]="{'fBlock': elementData.block == 'f',
    'sBlock': elementData.block == 's',
    'pBlock': elementData.block == 'p',
    'dBlock': elementData.block == 'd',
    'enable': elementData.valid}" [matTooltip]="elementData.name" (click)="emit(); $event.stopPropagation();">
    <div fxLayout="column">
        <div fxFlex>{{elementData.number}}</div>
        <div fxFlex>{{elementData.symbol}}</div>
        <div fxFlex></div>
    </div>
</div>