.boxed {
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
    height: 47px;
    width: 47px;
    text-align: center;
    cursor: pointer;
    opacity: 0.3;
    pointer-events: none;

    background-clip: border-box;
    &:hover{
        transform: scale(1.1);
        opacity: 1;
        transition: 0.3s all;
    }
}

.boxed.fBlock{
    background: #9bff99;
}

.boxed.sBlock{
    background: #ff9999;
}

.boxed.dBlock{
    background: #fdff8c;
}

.boxed.pBlock{
    background: #99ccff;
}

.enable{
    opacity: 0.8;
    pointer-events: initial;
}

@media only screen and (max-width: 420px) {
    .boxed{
        height: 20px;
        width: 20px;
        margin: 1px;
        font-size: 6px;

    }
}

